.machines {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
    padding: 5rem;
}

.machine {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
    flex-basis: 80%;
    margin: 5rem;
    border-bottom: 1px solid rgba(132, 142, 143, 0.5);
    padding: 0 0 10% 0;
}

.machinePhoto {
    flex-basis: 30%;
    height: 100%;
    overflow: hidden;
}

.machinePhoto img {
    width: 100%;
}

.macihneContent {
    flex-basis: 70%;
}

.macihneContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
}

.machineTitle {
    flex-basis: 100%;
    text-align: justify;
}

.machineDesc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
    flex-basis: 100%;
}

.DescAdd {
    flex-basis: 100%;
}

.title3 {
    width: 100%;
    line-height: 4rem;
}

.descDefault,
.DescAddText {
    color: rgb(132, 142, 143);
    flex-basis: 100%;
    text-align: left;
    padding: 0 10% 0 0;
}

.DescAdd {
    cursor: pointer;
}

.chechPrice {
    background-color: rgb(230, 111, 136);
    padding: 2.5%;
    border-radius: 15px;
    color: white;
    line-height: 100%;
    margin: 2.5% 0 0 0;
}

.chechPrice:hover {
    background-color: rgb(220, 101, 126);
}

.chechPrice a {
    color: white;
}

@media (max-width: 1100px) {
    .machines {
        padding: 0.0rem;
        margin: 0;
    }
    .machine {
        flex-basis: 100%;
        margin: 2rem;
        border-bottom: 1px solid rgba(132, 142, 143, 0.5);
        padding: 0 0 0 0;
    }
    .machinePhoto img {
        width: 100%;
        overflow: hidden;
    }
    .machinePhoto {
        flex-basis: 65%;
        height: auto;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: stretch;
    }
    .macihneContent {
        flex-basis: 100%;
    }
    .descDefault,
    .DescAddText {
        color: rgb(132, 142, 143);
        flex-basis: 100%;
        text-align: justify;
        padding: 0 2% 0 2%;
    }
    .chechPrice {
        background-color: rgb(230, 111, 136);
        padding: 2.5%;
        border-radius: 15px;
        color: white;
        line-height: 100%;
        margin: 5% 0 -10% 0;
        z-index: 99;
    }
}

.DescAddText {
    -webkit-transition: max-height ease-out 1s;
    transition: max-height ease-out 1s;
    /* border: 1px solid black; */
    /* background: white; */
    /* This is a wild guess of the height of the element
       Needs to be in the ballpark of the actual content height,
       but slightly larger.
       Change to, e.g., 30px and 300px to see what happens */
    max-height: 40rem;
}

.DescAddText.ng-hide {
    /* Animate max height*/
    max-height: 0;
}

.DescAddText.ng-hide-add,
.DescAddText.ng-hide-remove {
    /* Needed to override display:none which cannot be animated */
    display: block!important;
    overflow-y: hidden;
}